$white-color:rgb(255, 255, 255);
$gray-color:rgb(208, 214, 249);
$dark-blue:rgba(11, 13, 23, 1);
$light-gray:rgba(56, 59, 75, 1);
$dark-black:rgba(255, 255, 255, 0.04);
$navlist-bg:rgba(151, 151, 151, 0.079);
$gideon-font:'Gideon Roman',
cursive;
$barlow:'Barlow',
sans-serif;
$barlow-condensed:'Barlow Condensed',
sans-serif;
$bellefair:'Bellefair',
serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// mixins Classes.................
@mixin fonts($family, $size, $weight, $style, $height, $spacing, $theme) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $height;
  letter-spacing: $spacing;
  color: $theme;
}

@mixin bg-image($image) {
  background-image: $image;
  width: 1440px;
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
}

// mixins Classes Ending.............

// Global Classes..............

body {
  @include bg-image(url('../assets/home/background-home-desktop.jpg'))
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

// Global Classes Ended...........

nav {
  width: 1385px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 3rem;

  .nav-list {
    background: $navlist-bg;
    backdrop-filter: blur(81px);
    padding: 3.7rem 0;
    padding-left: 8rem;
    width: 830px;
    position: absolute;
    right: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    li {
      display: inline-block;
      padding: 0 3rem;



      a {
        @include fonts($barlow-condensed, 18px, lighter, 0, 0, 2px, $white-color);
        display: flex;
        align-items: center;

        p {
          padding: 0 0.5rem;
          @include fonts($barlow-condensed, 20px, 600, normal, 0, 0, $white-color);

        }
      }



    }
  }
}

main {
  margin: 20rem 10rem;
  width: 450px;
  display: flex;

  .side-content {
    width: 274px;
    height: 274px;

    a {
      @include fonts($barlow, 32px, normal, normal, 37px, 2px, #0B0D17, );
      height: 37px;
      padding: 10rem 6rem;
      border-radius: 500%;
      position: absolute;
      left: 66%;
      top: 60%;
      bottom: 17%;
      background-color: white;
      display: flex;
      align-items: center;
    }
  }

  .content {
    width: 450px;

    span {
      @include fonts($barlow-condensed, 28px, normal, normal, 34px, 4.725px, #D0D6F9, );

    }

    h1 {
      @include fonts($bellefair, 150px, normal, normal, 172px, 4.725px, #FFFFFF, );
      padding-top: 20px;
    }

    p {
      @include fonts($barlow, 17px, normal, normal, 32px, 0, #D0D6F9, );
      padding-top: 30px;
    }
  }
}


hr {
  position: absolute;
  width: 40%;
  left: 10%;
  z-index: 1;
  opacity: 0.25;
}